body {
  background-image: url("/images/lego_background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
}

.drop {
  background-color: #FACF49;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.drop .a {
  color: white;
}

#search_form {
  position: relative;
  z-index: 100;
}

#search_form #search_results {
  position: absolute;
  left: 0;
  top: 100%;
}

.form-control {
  border-color: #FACF49;
  border-radius: 2em;
}

.spy-head {
  width: 20px;
}

@font-face {
  font-family: lego;
  src: url(/assets/fonts/Legothick.ttf);
}

h1, h2, h3 {
  font-family: lego, Arial, Helvetica, sans-serif;
}

.custom-file-input {
  background-color: #FACF49 !important;
  border-radius: 20px;
  cursor: pointer;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  background-color: #FACF49 !important;
  color: white;
  border-radius: 25px 1px 1px 25px;
  cursor: pointer;
}

/* SIGNIN/LOGIN PAGE */
.sign {
  background-image: url("/images/green lego background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-color: #4DA965;
}

.log {
  background-image: url("/images/red lego background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-color: #DC4837;
}

.info {
  background-image: url("/images/red lego background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-color: #DC4837;
}

.info1 {
  background-image: url("/images/green lego background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.log-title {
  background-color: #E02E2B;
  color: white;
  border-radius: 3px;
  padding: 10px;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 15px;
}

.signup {
  color: white;
  background-color: #4EAD64;
  border-radius: 3px;
  padding: 10px;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 15px;
}

.sign-title {
  background-color: #4EAD64;
  color: white;
  border-radius: 3px;
  padding: 10px;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 15px;
}

.accordion {
  width: 500px;
  padding: 23px;
}

.card {
  border: 0;
  background-color: transparent;
}

.remember {
  color: white;
}

.login-btn {
  margin-left: 100px;
  width: 55%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.create-btn {
  margin-left: 100px;
  width: 55%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.create-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.lego1 {
  position: relative;
  top: -150px;
  left: 1210px;
  width: 450px;
  margin: -400px;
}

.logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-danger {
  color: yellow !important;
}

.love-icon {
  width: 20px;
}

.fas {
  color: #308a48 !important;
}

/* End of SIGNIN/LOGIN PAGE */
/* EDIT USERS POST PAGE */
.updatemoc-btn {
  margin-left: 100px;
  width: 45%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.updatemoc-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.welcomeindex {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcome-title {
  background-color: #4EAD64;
  color: white;
  border-radius: 13px;
  padding: 12px;
  padding-left: 44px;
  padding-right: 44px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 15px;
}

/* End of USERS EDIT POST PAGE */
/* LOGIN USER INDEX PAGE */
.create {
  background-image: url("/images/red lego background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.create-title {
  background-color: #E02E2B;
  color: white;
  border-radius: 3px;
  padding: 10px;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 15px;
}

.project-post {
  background-color: #ebebeb;
}

.superman {
  width: 10%;
}

/* unvisited link */
a:link {
  color: #4EAD64;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #4EAD64;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #FACF49;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #4EAD64;
  text-decoration: none;
}

#accountDropdown {
  color: white;
}

.welcome {
  color: white;
}

.post-btn {
  margin-left: 100px;
  width: 45%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.post-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.lego2 {
  position: absolute;
  z-index: 99;
  top: 60px;
  left: -30px;
  width: 350px;
}

/* END of USER INDEX PAGE */
/* EDIT PROFILE PAGE */
.lego3 {
  position: relative;
  top: 145px;
  left: 420px;
  width: 450px;
  margin: -400px;
}

.edit_card {
  background: rgba(255, 255, 255, 0.712);
  border-radius: 5px;
}

/* End of EDIT PROFILE PAGE */
.accordion .card-header {
  cursor: pointer;
}

hr {
  clear: both;
  margin-top: 1em;
}

.project-meta {
  padding-bottom: 1em;
}

.project-meta:after {
  content: "";
  clear: both;
  display: block;
}

.comment-loop {
  max-height: 200px;
  overflow-y: scroll;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1em;
  display: none;
}

.comment-loop .comment-username {
  display: block;
  opacity: 0.75;
  font-size: 60%;
  color: red;
}

.comment-loop .my_comment {
  text-align: right;
}

/* Edit Page Stylings */
.back-btn2 {
  width: 60%;
  background: none;
  color: inherit;
  border: none;
  margin-top: 15px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 50px;
}

.back-btn2:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.update-btn2 {
  width: 60%;
  background: none;
  color: inherit;
  border: none;
  margin-top: 15px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 30px;
}

.update-btn2:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/**********************/
.edit-btn {
  width: 25%;
  background: none;
  color: inherit;
  border: none;
  margin-top: 15px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.edit-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* Edit Page */
.back-btn {
  width: 45%;
  background: none;
  color: inherit;
  border: none;
  margin-top: 15px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.back-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.update-btn {
  width: 45%;
  background: none;
  color: inherit;
  border: none;
  margin-top: 15px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.update-btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* End of Edit Page */
/* User Profile Page */
.profile_pic {
  max-width: 175px;
  border-radius: 75%;
}

.profile_projects {
  background: white;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
  border-color: yellow;
}

.card-deck .card-image {
  overflow: hidden;
}

.card-deck .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
}

.card-deck .card-image .card-title {
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

/* End of Profile Page */
/*# sourceMappingURL=styles.css.map */